@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
     direction: rtl;
     margin: 0;
}

section {
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 100vh;
    padding: 6.5rem 4% 2rem;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(48, 54, 83, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 80px;
    direction: ltr !important;

}



#header-btn {
    margin-top: 0;
    position: absolute;
    margin-left: 78%;
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 700;
    transition: .5s ease;

}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo-header {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    margin-top: 0;
position: absolute;
    margin-right: 46%;
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    letter-spacing: .1rem;
    font-weight: 700;
}

#header-img {
    width: 170px;
    height: 130px;
    margin-top: 12px;
    margin-left: -305px;
}
 
#header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Assistant", assistant;
    font-size: 62px;
    font-weight: 800;
}

.header-p-title {
    font-size: 58px;
    font-family: "Assistant", assistant;
    font-weight: 400;
    padding: 0 8px;
    opacity: 1;
}
#header-name{
    color: var(--text-color);
    font-family: "Assistant", assistant;
    font-size: 52px;
    font-weight: 500;
    mix-blend-mode: luminosity;
}


#header-h3 {
    color: var(--main-color);
    font-family: "Assistant", assistant;
    font-size: 28px;
    font-weight: 800;
}


.header-p {
    font-size: 20px;
    margin-top: 6px;
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 5rem;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    bottom: -10px;
    text-decoration: underline;
    text-underline-offset: 10px;
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background-image: url("../img/2.png");
    background-size: cover;
}

.home-content {
    z-index: 5;
    text-align: center;
    margin-left: 3.5px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}


.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    background-position: 40px 0;
    width: 22.5vw;
    mix-blend-mode: multiply;
    margin-left: 6px;
}



.home-content-p {
    text-align: center;
    color: var(--text-color);
    font-family: "Assistant", assistant;
    font-size: 22px;
    font-weight: 500;

}

.social-media { 
    margin-right: 11.5px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.2rem 1rem 1rem 0;
    margin-left: 22px;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {  
    background-color: var(--main-color);
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 35px;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}


.fa-solid fa-globe{
    justify-content: center;
}

.about-content h2 {
    text-align: center;
    line-height: 1.2;
    font-size: 46px;
}



.about-content p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 2.5rem;
}

.elementor {
    padding: 0px 0px 0px 70px;
    box-sizing: border-box;
}

#about-logo{
    width: 60px;
    height: 60px;
    margin-right: 48%;
    margin-top: 15px;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3.8rem 4.1rem 4.2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 6.5rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    margin-top: 11px;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


.portfolio {
    background: var(--snd-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3.5rem;
    padding: auto;
}

.portfolio-container .portfolio-box {
    height: 360px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box {
    border-style: solid;
    border-color:  #FFBB43;
    border-width: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.8;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #5e8bbe);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--snd-bg-color);
}

.portfolio-layer-link {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.logo-project {
    margin-top: -25px !important;
}

#portfolio-p {
    width: 80%;
    margin-top: 10px;
    margin-right: 100px;
    font-size: 18px;
    text-align: center;
}

#contact-h21{ 
    font-size: 4.5rem;
    color: #2999dade;
}

#contact-p {
    font-size: 2.1rem;
    text-align: center;
}

#contact-h3 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 40px;
    color: #f1eadee8;;
}

#contact-btn-1 {
    color: var(--main-color);
    display: inline-block;
    padding: 1rem 2.8rem;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 15px;
    font-size: 1.8rem;
    margin-left: -2.7px;
}
/* 
.tools {
    min-height: 200px;
    background: var(--snd-bg-color);
    max-width: 100%;
    font-size: 1.4rem;
    display: flex;
    overflow-x: hidden;
}

.tools .halfSlide {
    min-height: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.tools .inline-flex {
    display: inline-flex;
    animation-duration: 25s;
    gap: 40px;
    padding-right: 40px;
    animation: infiniteSlideLeft 25s linear infinite;
  
} */


/* .tools .shrink-0 {
    flex-shrink: 0;
}

.tools .halfSlide .tool img {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.tools .halfSlide .tool img:hover {
    transform: scale(1.1, 1.1);
} */

/* @keyframes infiniteSlideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */


.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form .input-box input,
.contact form textarea {
    width: 70%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 70%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
    direction: ltr !important;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

.sticky-button {
    position: fixed; 
    right: 20px;     
    padding: 13px 18px;
    color: #fff;  
    border: none; 
    border-radius: 50%;  
    text-decoration: none;
    font-size: 2.4rem;
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s;
}

.whatsapp-button {
    bottom: 88px;  
    background-color: #49E670;
}

.whatsapp-button:hover {
    background-color: #1ebd57;
}

.call-button {
    bottom: 20px; 
    background-color: #03E78B;
}

.call-button:hover {
    background-color: #218838;
}
/*BREAKPOINT*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .home {
        background-position: center !important;
        height: 90vh;
    }
    .header {
        padding: 2rem 3%;
    }
    
    section {
        padding: 10rem 3%;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }



    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img{
        width: 90vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img{
        width: 100vw;
        margin-top: 4rem;
    }
    .logo-header {
        color: var(--text-color);
        font-weight: 700;
        margin-top: 0;
    position: absolute;
        margin-right: -64%;
        display: inline-block;
        border-radius: 4rem;
        font-weight: 700;
    }
    #header-img {
        width: 150px;
        height: 120px;
        margin-top: 12px;
        margin-left: -305px;
    }
    #menu-icon {
        margin-left: 90%;
    }
    #header-btn {
    display: none;
        }
        .header {
            position: sticky;  
        }
        #header-title {
            font-size: 30px;
        }
        #header-h3 {
            font-size: 22px;
        }
        #header-name {
            font-size: 30px;
            font-weight: 500;
        }
        .header-p-title {
            font-size: 30px;
            padding: 0 4px;
        }
        .home-content-p {
            font-size: 16px;
            font-weight: 500;
        }
        section {
            min-height: 55vh;
            padding: 5.5rem 2%;
        }
        #portfolio-p {
            width: 80%;
            margin-top: 10px;
            margin-right: 38px;
            font-size: 18px;
            text-align: center;
        }
        .about-content h2 {
            font-size: 32px;
        }
        #about-logo {
            width: 44px;
            height: 43px;
            margin-right: 43%;
            margin-top: 13px;
        }
        .elementor {
             padding: 0; 
        }
        .about-content p {
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            margin: 2.5rem;
        }
        .heading {
            text-align: center;
            font-size: 38px;
            font-weight: bold;
        }
        .services-container {
            padding: 10px;
        }
        .services-box h3 {
            font-size: 28px;
        }
        .services-box p {
            font-size: 16px;
            font-weight: 500;
       }
       #about-logo {
        display: none;
    }
    #portfolio-p {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
    }
    .portfolio-container .portfolio-box {
        height: 265px;
    }

    .portfolio-container {
        display: grid;
        align-items: center;
        gap: 4rem;
        padding: 10px;
        width: 100%;
    }
    .portfolio-layer p {
        font-weight: 500;
    }
    #contact-h21 {
        font-size: 29px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}